<div id="loading-block">Загрузка...</div>
<div id="filter-block" style="display: none;">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>
<div id="failed-block" style="color: red; display: none;">Не удалось загрузить города</div>
<button id="failed-btn" type="button" style="display: none;">Повторить</button>